#menu{
display: none;

}

body{
  background-color :#fff;
  font-family :Serif;
  font-size :15pt;
  margin :0;
  border:none;
	
}
a{
  color :#000;
  text-decoration:none;
}
p a:after {
    content: " ("attr(href)")";
    font-style:italic;
}
aside {
  display: none;
}