  <div id="help">
    <h1>Pour commencer à naviguer</h1>
    <p>Afin de respecter les normes d’accessibilité de niveau AAA notre site vous propose de naviguer aisément grâce à des raccourcis qui vous permettrons de naviguer a votre gré</p>
    
    <h2>Naviguer de section en section</h2>
    <div class="notif">
      <p><strong>Note:</strong> Les raccourcis que nous vous proposons dépende du navigateur que vous utilisez:</p>
      <ul>
        <li>IE, Chrome, Safari, Opera 15+: [ALT] + <em>raccourci</em></li>
        <li>Opera &lt;15: [SHIFT] [ECHAP] + <em>raccourci</em></li>
        <li>Firefox: [ALT] [SHIFT] + <em>raccourci</em></li>
      </ul>
    </div>
    <p>Les raccourcis disponibles sont :</p>
    <ul>
      <li><strong>M </strong> pour accéder au <strong>menu</strong></li>
      <li><strong>C </strong> pour accéder au formulaire de <strong>connexion</strong></li>
      <li><strong>P </strong> pour consulter la liste des <strong>pathologie</strong></li>
      <li><strong>R </strong> pour <strong>rechercher</strong> une pathologie. (<strong>Attention : </strong> Vous devez être connecté)</li>
      <li><strong>F </strong> pour accéder à notre <strong>flux</strong> RSS</li>
    </ul>
    
    <h2>Pour effectuer des recherches efficaces</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur vero nobis accusantium perferendis, eius incidunt aliquam nemo obcaecati tempore voluptas, provident odit quibusdam exercitationem quis porro id culpa assumenda totam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda expedita praesentium voluptas dicta accusantium obcaecati mollitia tempore rerum veniam necessitatibus fugit sed optio nam id distinctio eos ullam, impedit explicabo.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, facilis dolorum id obcaecati, voluptatibus voluptas nisi? Ab, impedit odit voluptate, enim ipsam tenetur beatae qui labore ad non nemo repudiandae?</p>
  </div>