    <section>
      <article role ="presentation">
	  <h2> Introduction </h2>
	  <p>Dans le courant du XIX° siècle, grâce aux jésuites revenant de Chine,
	  la Médecine Traditionnelle Chinoise est apparue timidement en occident, et en
	  particulier en France. Même si elle s'est rapidement répandue dans le monde, 
	  ce n'est pourtant que dans les années 1975 que cette science a pris chez nous
	  son véritable essor, tant au niveau de sa <a href="http://www.medecinechinoise.info/"> <em>pratique</em> </a> que dans l'organisation de 
	  son enseignement. De nos jours, elle est donc encore relativement peu connue. 
	  Elle est nommée par les uns "médecine parallèle", par d'autres "douce", "alternative" 
	  ou encore "complémentaire", sans savoir d'ailleurs très bien ce que recouvrent ces expressions.</p>
      </article>
      <article>
      </article>
   </section>