  <!-- Pathology Consultation -->
  <div id="pathology">
    <h1>Consulter les pathologies</h1>
    <p>C'est ici que vous pourrez consulter la liste des symptômes des principales pathologies en acupuncture . Il est possible de n’afficher que certaines des pathologies en fonction de différents critères. Il ne vous reste plus qu'à vous connecter pour rechercher les pathologies comportant certains symptômes.</p>
    <table>
      <tr>
        <th>Méridien</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Test</td>
        <td>Essai</td>
        <td>Trollolo</td>
      </tr>
    </table>
  </div>   